{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block title %}Gestion Utilisateurs{% endblock %}

{% block body %}
    {% if app.user and app.user.actif %}
        <div class="container-fluid">
            <h2>Gestion des utilisateurs</h2>

            {% for categorie, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ categorie }}">
                        {{ message }}
                    </div>    
                {% endfor %}
            {% endfor %}

            <div id="table" class="row align-items-center table-wrapper-scroll-y my-custom-scrollbar table-hover table-responsive container-fluid">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom - Prénom</th>
                            <th scope="col">Rôles</th>
                            <th scope="col">Admin</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td><a href="{{  path('participant', { 'pseudo': u.pseudo }) }}">{{ u.pseudo }}</a></td>
                            <td>{{ u.nom }} {{ u.prenom }}</td>
                            <td>{% for role in u.roles %}
                                    {{ role | join(role) }}
                                {% endfor %}
                            </td>
                            <td>{% if u.administrateur %}Oui{% else %}Non{% endif %}</td>
                            <td>
                                <div class="row">
                                    {#
                                        Si l'utilisateur est admin avec pseudo admin :
                                            Si utilisateur admin
                                                - Ajout en utilisateur
                                            Si utilisateur utilisateur
                                                - Ajouter en admin

                                        - Delete
                                        - Désactiver

                                    #}
                                    {% dump(userConnected) %}
                                    {#
                                        Gestion de la case Actions de admin en fonction de qui est connecté
                                    #}
                                    {% if u.pseudo is same as('Admin') %}
                                        {% if userConnected.userIdentifier is same as('Admin') %}
                                            <div class="col-auto">
                                                Bonjour Ô Grand Admin des admin.
                                            </div>
                                        {% endif %}
                                        {% if userConnected.userIdentifier is not same as('Admin') %}
                                            <div class="col-auto">
                                                On ne supprime pas l'admin des admins...
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% if userConnected.userIdentifier is same as('Admin')   %}

                                            <div class="col-auto">
                                                <a type="button" class="btn btn-primary btn-sm"
                                                   href="{{ path('gestion_users_changeAdmin', {id : u.id}) }}">
                                                    {% if u.administrateur %}
                                                        Add to user
                                                    {% else %}
                                                        Add to admin
                                                    {% endif %}
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if u.actif %}
                                            <div class="col-auto">
                                                <a type="button" class="btn btn-warning btn-sm"
                                                   href="{{ path('gestion_users_desactiver', {id : u.id})}}">Désactiver</a>
                                            </div>
                                        {% else %}
                                            <div class="col-auto">
                                                <a type="button" class="btn btn-warning btn-sm"
                                                   href="{{ path('gestion_users_desactiver', {id : u.id})}}">Activer</a>
                                            </div>
                                        {% endif %}
                                        <div class="col-auto">
                                            <a type="button" class="btn btn-danger btn-sm"
                                               href="{{ path('gestion_users_delete', {id : u.id})}}">Delete</a>
                                        </div>
                                    {% endif %}



                                    {% if u.administrateur and u.pseudo is not same as("Admin") and u.pseudo is not same as(userConnected.userIdentifier) %}


                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
