{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block title %}Gestion Utilisateurs{% endblock %}

{% block body %}
    {% if app.user and app.user.actif %}
        <div class="container-fluid">
            <h2>Gestion des utilisateurs</h2>

            {% for categorie, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ categorie }}">
                        {{ message }}
                    </div>    
                {% endfor %}
            {% endfor %}

            <div id="table" class="row align-items-center table-wrapper-scroll-y my-custom-scrollbar table-hover table-responsive container-fluid">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom - Prénom</th>
                            <th scope="col">Rôles</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td><a href="{{  path('participant', { 'pseudo': u.pseudo }) }}">{{ u.pseudo }}</a></td>
                            <td>{{ u.nom }} {{ u.prenom }}</td>
                            <td>{% for role in u.roles %}
                                    {{ role | join(role) }}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="row">
                                    {% if u.administrateur and u.pseudo != "Admin" %}
                                        <div class="col-auto">
                                            <a href="{{ path('app_main')}}">Add to user</a>
                                        </div>
                                        <div class="col-auto">
                                            <a href="{{ path('gestion_users_delete', {id : u.id})}}">Delete</a>
                                        </div>
                                        {% if u.actif %}
                                        <div class="col-auto">
                                            <a href="{{ path('gestion_users_desactiver', {id : u.id})}}">Desactiver</a>
                                        </div>
                                        {% else %}
                                        <div class="col-auto">
                                            <a href="{{ path('gestion_users_desactiver', {id : u.id})}}">Activer</a>
                                        </div>
                                        {% endif %}
                                    {% elseif not u.administrateur %}
                                        <div class="col-auto">
                                            <a href="{{ path('app_main')}}">Add to admin</a>
                                        </div>
                                        <div class="col-auto">
                                            <a href="{{ path('gestion_users_delete', {id : u.id})}}">Delete</a>
                                        </div>
                                        {% if u.actif %}
                                        <div class="col-auto">
                                            <a href="{{ path('gestion_users_desactiver', {id : u.id})}}">Desactiver</a>
                                        </div>
                                        {% else %}
                                        <div class="col-auto">
                                            <a href="{{ path('gestion_users_desactiver', {id : u.id})}}">Activer</a>
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="col-auto">
                                            On ne supprime pas l'admin des admins...
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
