{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}
    {% if app.user and app.user.actif %}
        <div class="container">
            <h1 style="text-align: center">Mon profil</h1>
            <hr>
            <div class="row">
                {% for categorie, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash flash-{{ categorie }}">
                            {{ message }}
                        </div>    
                    {% endfor %}
                {% endfor %}
                {{ form_start(profileForm) }}
                    {{ form_row(profileForm.pseudo) }}
                    <div class="mb-3">
                        <label for="confirm">Mot de passe</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label for="confirm">Confirmation</label>
                        <input type="password" id="confirm" name ="confirm" class="form-control"/>
                    </div>
                    {{ form_row(profileForm.nom) }}
                    {{ form_row(profileForm.prenom) }}
                    {{ form_row(profileForm.telephone) }}
                    {{ form_row(profileForm.mail) }}
                    {{ form_row(profileForm.site) }}
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-primary btn-lg" type="submit">Enregistrer</button>
                        </div>
                        <div class="col text-center">
                            <a href="{{ path('app_main') }}" class="btn btn-danger btn-lg" role="button">Retour</a>
                        </div>
                    </div>
                {{ form_end(profileForm) }}
            </div>
        </div>
    {% endif %}
{% endblock %}