{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

    {% block mainTitle %}Afficher une sortie{% endblock %}

    {% block body %}

    <div class="container">
        <div class=" my-4 row">
            {% if sortie != null %}
                <ul class="list-group col">
                    <li class="list-group-item"><span class="fw-bold">Nom de la sortie : </span>{{ sortie[0].nom }}</li>
                    <li class="list-group-item"><span class="fw-bold">Organisateur : </span>{{ sortie[0].organisateur }}</li>
                    <li class="list-group-item"><span class="fw-bold">Date et heure de la sortie : </span>{{ sortie[0].date_debut | date("d/m/Y") }}</li>
                    <li class="list-group-item"><span class="fw-bold">Date limite d'inscription : </span>{{ sortie[0].date_cloture_inscription | date("d/m/Y") }}</li>
                    <li class="list-group-item"><span class="fw-bold">Nombre de places : </span>{{ sortie[0].nb_inscriptions_max }}</li>
                    <li class="list-group-item"><span class="fw-bold">Durée : </span>{{ sortie[0].duree }} minute(s)</li>
                    <li class="list-group-item"><span class="fw-bold">Ville : </span>{{ sortie[0].ville }}</li>
                    <li class="list-group-item"><span class="fw-bold">Lieu : </span>{{ sortie[0].lieu }}</li> 
                    <li class="list-group-item"><span class="fw-bold">Rue : </span>{{  sortie[0].rue }}</li>
                    <li class="list-group-item"><span class="fw-bold">Code postal : </span>{{  sortie[0].cp }}</li>
                    <li class="list-group-item"><span class="fw-bold">Latitude : </span>{{ sortie[0].latitude }}</li>
                    <li class="list-group-item"><span class="fw-bold">Longitude : </span>{{  sortie[0].longitude }}</li>
                </ul>

                <table class="table table-bordered my-4">
                    <thead>
                        <tr>
                        <th scope="col">Pseudo :</th>
                        <th scope="col">Prénom :</th>
                        <th scope="col">Nom :</th>
                        </tr>
                    </thead>
                    <tbody>             
                        {% for incrit in incrits %}
                        <tr>
                            <td>{{ incrit.pseudo }}</td>
                            <td>{{ incrit.prenom }}</td>
                            <td>{{ incrit.nom }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div> 
    </div>

    {% endblock body %}

