<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_main') }}">
            Sortir.com
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if app.user and app.user.actif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('updateParticipant', { 'pseudo': app.user.pseudo }) }}">Mon profil</a>
                </li>
                {% for role in app.user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestion
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('gestion_villes') }}">Villes</a></li>
                                <li><a class="dropdown-item" href="{{ path('gestion_lieux') }}">Lieux</a></li>
                                <li><a class="dropdown-item" href="{{ path('gestion_sites') }}">Sites</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('register') }}">Utilisateurs</a></li>
                                <li><a class="dropdown-item" href="{{ path('gestion_users') }}">Rôles</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <span class="navbar-text">
                <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
            </span>
        </div>
        {% endif %}
    </div>
</nav>